@mixin surface-shadow {
  box-shadow: 0 1.3px 0.9px rgba(0, 0, 0, 0.008),
    0 3.1px 2.1px rgba(0, 0, 0, 0.012), 0 5.9px 3.9px rgba(0, 0, 0, 0.015),
    0 10.5px 6.9px rgba(0, 0, 0, 0.018), 0 19.6px 13px rgba(0, 0, 0, 0.022),
    0 47px 31px rgba(0, 0, 0, 0.03);
}

@mixin surface-hover-shadow {
  box-shadow: 0 1.3px 0.9px rgba(0, 0, 0, 0.014),
    0 3.1px 2.1px rgba(0, 0, 0, 0.02), 0 5.9px 3.9px rgba(0, 0, 0, 0.025),
    0 10.5px 6.9px rgba(0, 0, 0, 0.03), 0 19.6px 13px rgba(0, 0, 0, 0.036),
    0 47px 31px rgba(0, 0, 0, 0.05);
}

@mixin btn-shadow {
  box-shadow: 1px 4px 18px 0px rgba(0, 0, 0, 0.23);
}

@mixin btn-hover-shadow {
  box-shadow: 1px 4px 18px 4px rgba(0, 0, 0, 0.23);
}
