// colors
$primary-color: #457b9d;
$on-primary-color: #ffffff;
$secondary-color: #ef476f;
$on-secondary-color: #ffffff;
$surface-color: #ffffff;
$on-surface-color: #000000;
$background-color: #f1faee;
$on-background-color: #000000;
$error-color: #e63946;
$on-error-color: #ffffff;
