@use "../abstracts/mixins";

// edit-story-page
.edit-story-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // edit-story-page__header
  &__header {
    flex-shrink: 0;
  }

  // edit-story-page__main
  &__main {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;

    // tablet
    @include mixins.tablet {
      padding: 1rem 1.5rem;
    }

    // xlarge-tablet
    @include mixins.xlarge-tablet {
      padding: 1rem 2rem;
      width: 70%;
    }

    // desktop
    @include mixins.desktop {
      width: 65%;
    }

    // large-desktop
    @include mixins.large-desktop {
      width: 50%;
    }
  }

  // edit-story-page__form-wrapper
  &__form-wrapper {
    display: flex;
    flex-direction: column;
  }

  // edit-story-page__btn-group
  &__btn-group {
    justify-content: center;
  }

  // edit-story-page__footer
  &__footer {
    flex-shrink: 0;
    margin-top: auto;
  }
}
